.bank-position {
    display: flex;
    justify-content: space-between;

    &__icon {
        height: 24px;
        margin-right: 16px;
        width: 24px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__hour {
        align-self: center;
        color: $color-shade;
        font-size: 12px;
        margin-left: auto;
    }

    &__text {
        color: #3B3B3B;

        strong {
            font-weight: 700;
        }

        &--big {
            font-size: 16px;
        }

        &--gray {
            color: $color-shade;
        }

        &--highlight {
            color: $color-highlight;
        }

        &--overline {
            text-decoration: line-through;
        }
    }
}