.menu {
    &__item {
        color: $color-shade;
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;
        transition: all .3s ease-in-out;
        align-items: center;

        &:hover {
            color: $color-interaction;
            border-bottom: 1px solid $color-interaction;
        }

        &--no-effect {
            border: none;

            &:hover {
                border: none;
            }
        }
    }
}