.navigation {
    box-sizing: border-box;
    padding: 18px 24px;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
